.Card {
  width: 320px;
  min-height: 30px;
  background-color: $color-white;
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    margin-top: 0;
    color: $color-dark-grey;
  }
}
