.Javascript__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  padding-left: 0;
  list-style: none;
}

.Card {
  padding: 0 10px;
  height: 180px;
  width: 300px;

  time {
    font-size: 14px;
    color: $color-grey-dark;
    font-weight: 500;
  }

  p {
    line-height: 1.8;
    margin-top: 0;
    font-size: 16px;
  }

  a {
    font-size: 21px;
    border: 0;
    color: $color-red !important;
    font-weight: 600;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.dark-mode {
  .Card {
    time {
      color: $color-dull-violet;
    }
  }
}

@media (min-width: 481px) and (max-width: 764px) {
  .Javascript__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media all and (max-width: 480px) {
  .Javascript__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
