.Javascript__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 25px;
  padding-left: 0;
  list-style: none;
}

.Card {
  padding: 5px 15px;
  height: auto;
  width: 330px;
  background-color: $color-grey-dull;
  border-radius: 6px;

  time {
    font-size: 14px;
    color: $color-grey-dark;
    font-weight: 500;
  }

  p {
    line-height: 1.8;
    margin-top: 0;
    font-size: 16px;
  }

  a {
    font-size: 21px;
    border: 0;
    color: $color-red !important;
    font-weight: 600;
    border-bottom: 1px solid;
    opacity: 0.9;

    &:hover {
      opacity: 1;
      border-bottom: 1px solid;
    }
  }
}

.dark-mode {
  .Card {
    background-color: $color-grey-dark;

    time {
      color: $color-dull-violet;
    }
  }
}

@media (min-width: 765px) and (max-width: 1024px) {
  .Javascript__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .Card {
    width: 100%;
    min-height: 180px;
    height: initial;
  }
}

@media (min-width: 481px) and (max-width: 764px) {
  .Javascript__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .Card {
    width: 100%;
    min-height: 150px;
    height: initial;
  }
}

@media all and (max-width: 480px) {
  .Javascript__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .Card {
    width: 100%;
    min-height: 170px;
    height: initial;
  }
}
