.Javascript {
  &__content h2 {
    margin-bottom: 10px;
  }

  &__content p {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;

    .Card:not(:first-child) {
      margin-left: 30px;
    }
  }

  &__subscription {
    margin-top: 250px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .Javascript {
    &__list {
      flex-direction: column;

      .Card:not(:first-child) {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .Javascript {
    &__list {
      flex-direction: column;

      .Card:not(:first-child) {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
}
