body {
  font-family: "Roboto", sans-serif;
  color: $color-white;
  background-color: $color-primary;
  line-height: 28px;
}

a {
  color: $color-primary-text;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.18s cubic-bezier(0.55, 0.025, 0.455, 0.98);
  border-bottom: 1px solid $color-primary-text;
  font-weight: 500;
}

.header {
  height: 70px;
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
  color: $color-primary-text;
  background-color: $color-primary;

  &__content {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 15px;
  }

  &__content-left {
    display: flex;
    height: inherit;
    align-items: center;
  }

  &__menu {
    list-style-type: none;
    width: 200px;
    height: inherit;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;

    li,
    a {
      height: inherit;
      display: flex;
      align-items: center;
    }

    a {
      color: $color-menu-link;
      transition: all 200ms ease;
      border-bottom: 2px solid transparent;
      font-weight: 500;
    }

    li &--active {
      color: $color-primary-text;
      border-color: $color-primary-text;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 1.8em;
    margin: 0;

    a {
      border: none;
      color: $color-primary-text;
    }
  }

  a {
    text-decoration: none;
  }
}

.footer__content,
.layout__title-content,
.layout__content {
  max-width: $grid-width;
  padding: 20px 15px;
  margin: 0 auto;
}

.layout__title {
  height: 170px;
  display: flex;
  align-items: center;
  background-color: $color-primary;
  margin-top: 4px;

  .Subscription {
    margin-top: -18px;
  }

  &-content {
    width: $grid-width;
    display: flex;
  }

  h2 {
    font-size: 26px;
    display: inline-block;
    color: $color-black;
  }
}

.counter {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid $color-grey;
  height: 24px;
  background-color: $color-white;
  color: $color-black;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 18px;
  padding: 5px;
  font-weight: 500;
  max-width: 32px;
}

.layout__content {
  margin: 0 auto;

  p {
    font-size: 18px;
    line-height: 2;
  }
}

.layout__content,
main,
footer {
  background-color: $color-white;
  color: $color-black;
}

footer {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: $color-dark-blue;

  .footer__content {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
    color: $color-white;
    font-weight: 500;
    padding: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__content,
  .footer__content,
  .layout__title-content,
  .layout__content {
    max-width: 768px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header__content,
  .footer__content,
  .layout__title-content,
  .layout__content {
    max-width: 480px;
  }

  .Subscription {
    max-width: 420px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Subscription {
    max-width: 95%;
  }

  .layout__content .Subscription input {
    width: 95%;
  }
}
