* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: $color-white;
}

a {
  color: $color-primary;
}

.header {
  height: 65px;
  color: $color-primary;
  box-shadow: 0px 1px 5px -1px $color-dull-black;

  &__content {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 15px;
  }

  h1 {
    font-weight: 500;
  }

  a {
    text-decoration: none;
  }
}

footer,
.layout__title-content,
.layout__content {
  max-width: $grid-width;
  padding: 0 15px;
  margin: 0 auto;
}

.layout__title {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: $color-secondary;

  &-content {
    width: $grid-width;
    display: flex;
  }

  h2 {
    font-size: 26px;
    display: inline-block;
    color: $color-dull-blue;
  }

  span {
    border-radius: 10px;
    display: flex;
    align-items: center;
    border: 2px solid $color-grey;
    height: 24px;
    background-color: $color-white;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 18px;
    padding: 5px;
    font-weight: 400;
    max-width: 32px;
  }
}

.layout__content {
  margin: 0 auto;
}

main,
footer {
  background-color: $color-white;
}

footer {
  margin-top: 30px;
  background-color: $color-white;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: $color-white;
}
