body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  color: $color-dull-blue;
  background-color: $color-white;
  line-height: 32px;
  font-size: 17px;
  font-weight: 400;
}

a {
  color: $color-blue;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.18s cubic-bezier(0.55, 0.025, 0.455, 0.98);
  border-bottom: 1px solid;
  font-weight: 500;
}

h2 {
  margin-top: 5px;
  font-size: 25px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 19px;
}

h3 > a {
  font-weight: 600;
}

b {
  font-weight: 600;
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
}

ul,
ol {
  line-height: 35px;
}

.header {
  height: 70px;
  color: $color-blue;
  background-color: $color-light-yellow;

  .header__content-left h1 a {
    color: $color-dark-grey;
  }

  &__content {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0 15px;
  }

  &__menu {
    list-style-type: none;
    width: 200px;
    height: inherit;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;

    li,
    a {
      height: inherit;
      display: flex;
      align-items: center;
    }

    a {
      color: $color-menu-link;
      transition: all 200ms ease;
      border-bottom: 3px solid transparent;
      font-weight: 500;
    }

    li &--active {
      color: $color-blue;
      border-color: $color-blue;
      font-weight: 600;
    }
  }

  &__content-right,
  &__content-left {
    display: flex;
    height: inherit;
    align-items: center;
  }

  h1 {
    font-weight: 600;
    font-size: 1.8em;
    margin: 0;

    a {
      border: none;
      color: $color-blue;
    }
  }

  a {
    text-decoration: none;
  }
}

hr {
  border: 0;
  border-top: 2px dashed $color-grey;
  margin-top: 30px;
}

.layout .layout__content {
  margin-top: 10px;
}

.issues__preview-info {
  text-align: center;
}

.footer__content,
.layout__title-content,
.layout__content {
  max-width: $grid-width;
  padding: 20px 15px;
  margin: 0 auto;
}

.layout__title {
  height: 170px;
  display: flex;
  align-items: center;
  background-color: $color-blue;
  margin-top: 4px;

  .Subscription {
    margin-top: -18px;
  }

  &-content {
    width: $grid-width;
    display: flex;
  }

  h2 {
    font-size: 26px;
    display: inline-block;
    color: $color-black;
  }
}

.layout__footer {
  > h4 {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.counter {
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 2px solid $color-grey;
  height: 24px;
  background-color: $color-white;
  color: $color-black;
  text-align: center;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 18px;
  padding: 5px;
  font-weight: 500;
  max-width: 32px;
}

.layout__content {
  margin: 0 auto;
}

.layout__content,
main {
  background-color: $color-white;
}

footer {
  height: 45px;
  display: flex;
  align-items: center;
  background-color: $color-light-yellow;

  .footer__content {
    width: 1024px;
    margin: 0 auto;
    padding: 0;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 0 10px;

    p {
      font-weight: 500;
      font-size: 16px;
    }
  }
}

.mtop-30 {
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header__content,
  .footer__content,
  .layout__title-content,
  .layout__content {
    max-width: 768px;
  }
}

@media (min-width: 620px) and (max-width: 767px) {
  .header__content,
  .footer__content,
  .layout__title-content,
  .layout__content {
    max-width: 620px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Subscription {
    max-width: 95%;
  }

  .layout__content .Subscription input {
    width: 95%;
  }

  .header h1 a {
    font-size: 25px;
  }

  .header__menu {
    padding-left: 20px;
    width: 160px;
  }

  .header__menu {
    font-size: 16px;
  }
}

body.dark-mode {
  color: $color-dull-white-dark;
  background-color: $color-primary-dark;

  .toggle-theme {
    fill: $color-white;
  }

  .layout__content,
  main {
    color: $color-dull-white-dark;
    background-color: $color-primary-dark;
  }

  a {
    color: $color-blue-dark;
  }

  .header,
  footer {
    background-color: $color-header-dark;
  }

  .header {
    .header__content-left h1 a {
      color: $color-dull-blue-dark;
    }

    .header__menu a {
      color: $color-dull-blue-dark;
    }

    li .header__menu--active {
      border-color: $color-blue-dark;
    }
  }
}
