* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
li,
p,
textarea {
  -webkit-font-smoothing: antialiased;
}
