.Subscription__container {
  .Subscription__content {
    min-height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 10px 10px 30px;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: $color-light-blue;
    color: $color-black;
  }

  p {
    margin-top: 0;
    margin-bottom: -10px;
    font-size: 16px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin: 10px 0 5px;
  }

  input,
  input[type="submit"] {
    height: 45px;
    padding: 0 10px;
    margin-top: 25px;
  }

  input[type="submit"] {
    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    border-radius: 6px;
    cursor: pointer;
    width: 100px;
    height: 38px;
    font-size: 16px;
    text-align: center;

    &:active {
      opacity: 0.9;
    }
  }

  input {
    width: 360px;
    border-radius: 6px;
    border: 2px solid $color-grey;
    outline: none;
    font-size: 15px;

    &:focus {
      border-color: $color-grey;
    }
  }

  span {
    display: block;
    font-weight: 400;
    margin-top: 5px;
    color: $color-menu-link;
  }
}
