.Subscription__container {
  .Subscription__content {
    width: 480px;
    border-radius: 8px;
    background-color: $color-light-blue;
    color: $color-black;
  }

  .Subscription__confirmation {
    margin: 5px 0;
    margin-bottom: 5px;
    color: $color-green;
    visibility: hidden;
  }

  h4 {
    margin-bottom: 0;
  }

  h4 + p {
    margin-bottom: 15px;
    margin-top: 5px;
  }

  p {
    margin-top: 0;
    margin-bottom: -10px;
    font-size: 16px;
  }

  form {
    display: flex;
    justify-content: center;
    width: inherit;
    padding: 20px;
  }

  input,
  input[type="submit"] {
    height: 48px;
    padding: 0 10px;
  }

  input[type="submit"] {
    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    width: 110px;
    height: 48px;
    font-size: 17px;
    text-align: center;
    margin-left: -30px;
    font-weight: 600;

    &:active {
      opacity: 0.9;
    }
  }

  .email-address {
    width: 80%;
    border-radius: 6px;
    border: 2px solid $color-grey;
    outline: none;
    font-size: 16px;
    padding-right: 35px;

    &:focus {
      border-color: $color-grey;
    }
  }

  span {
    display: block;
    font-weight: 400;
    margin-top: 5px;
    color: $color-menu-link;
  }
}

@media (min-width: 481px) and (max-width: 764px) {
  .Subscription__container .Subscription__content {
    width: 430px;
  }
}

@media all and (max-width: 480px) {
  .Subscription__container {
    .Subscription__content {
      width: 100%;
    }

    form {
      padding: 15px 10px;
    }

    input,
    input[type="submit"] {
      height: 40px;
      padding: 0 10px;
    }
  }
}
