.toggle-theme {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  appearance: none;
  width: inherit;
  background-color: transparent;
  border: none;
  height: inherit;
}

.toggle-theme {
  fill: $color-black;
}
