// Colors
$color-primary: #f6f6fc;
$color-primary-text: #295ffb;
$color-menu-link: #4c5465;

$color-black: #000;
$color-dark-blue: #1c093d;
$color-dull-black: rgba(0, 0, 0, 0.23);
$color-white: #fff;
$color-grey: #ccc;

// Grid
$grid-width: 1024px;
