// Colors
$color-primary: #f6f6fc;
$color-blue: #1c56ff;
$color-menu-link: #383737;

$color-black: #000;
$color-dark-blue: #1c093d;
$color-dull-black: rgba(0, 0, 0, 0.23);
$color-light-blue: #d5f5ff;
$color-lighter-blue: rgba(224, 247, 250, 0.6);
$color-white: #fff;
$color-grey: #ccc;
$color-dark-grey: #383737;
$color-light-yellow: #f9ed85;
$color-dull-blue: rgb(50, 50, 121);
$color-green: #388e3c;
$color-dull-grey: #dcdcdc;
$color-red: #e91e63;
$color-grey-dark: #655e5e;
$color-grey-dull: #efefef;

// Colors for dark mode
$color-primary-dark: #2d2d2d;
$color-blue-dark: #3ca4ff;
$color-menu-link-dark: #e4e4e4;
$color-dull-blue-dark: #fff;
$color-dull-white-dark: #cfd2d6;
$color-header-dark: #272727;
$color-code-dark: #1b1b1b;
$color-dull-white: #f9f9f9;
$color-dull-violet: #a7b9f1;
$color-dull-violet: #a7b9f1;
$color-grey-dark: #404040;

// Grid
$grid-width: 1024px;
