// Colors
$color-primary: #2c4bff;
$color-secondary: #f2f3fa;
$color-white: #fff;
$color-grey: #ccc;
$color-dull-black: rgba(0, 0, 0, 0.23);
$color-dull-blue: #212121;
$color-black: #000;
$color-dull-violet: #bcbaf5;
$color-light-blue: #eef8ff;
$color-light-yellow: #e4d336;
$color-shady-dark: #212121;
$color-dull-dark: #353535;

// Grid
$grid-width: 1024px;
